.topBar {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;

    &__avatar {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        cursor: pointer;
    }

    &__iconContainer {
        position: relative;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &--badge {
            width: 15px;
            height: 15px;
            position: absolute;
            top: -5px;
            right: 0px;
            background-color: red;
            border-radius: 50%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
        }
    }


    &__wrapper {
        height: 100%;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--right {
            display: flex;
            align-items: center;
        }
    }
    &__logo {
        font-weight: bold;
        font-size: 30px;
        color: lightpink;
        cursor: pointer;
        user-select: none;
    }
}
